body{
	font: 15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

h3{
	color: #87ceed;
}

h1 center{
	color: #87ceed;
}

/* header */
header{
	background-color: #35425a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header ul{
	padding: 0;
	margin: 0;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #name{
	float: left;
}

header #name h1{
	margin: 0;
	}

header nav{
	float: right;
	margin-top: 15px;
}

header .highlight, header .current a{
	color: #ee6910f1;
	font-weight: bold;
}

header a:hover{
	color: #5b83cc;
	font-weight: bold;
}

/* section 1 */
 #introduction .container{
	background-color: #e6e6e6;
	padding: 0;
	margin: 0;
	width: 100%;
	color: #35425d;
}


/* section  */

#main .container{
	margin: 20px;
	background-color: #e6e6e6;
	width: 95%;

}

.project{
	background-color: green;
	padding: 15px;
	width: 30%;
	float: left;
	text-align: center;
    margin-left: 10%;
}

.project img{
	width: 100px;
	height: 150;

}

.project button{
	background-color: #35425a;
	border-radius: 15px;

}


/* table */
.table{
	background-color: #e6e6e6;
   width: 43%;
   margin-left: 15px;
   margin-right: 10px;
  float: left;
}
.table th{
	background-color: green;
	color: #cccccc;
	padding: 10px;
}

.table td{
	background-color: skyblue;
    padding: 10px;
    color: #35425d;
    padding: 24px;
}

.skills{
	float: left;
	width: 50%;
	margin-left: 20px;
	text-align: center;
	background-color: green;
}

.skills h1{
	color: skyblue;
}

.skills p{
	color: #e6e6e6;
}

#form1{
	background-color: #e6e6e6;
}

.contact{
	margin: 20px;
	width: 30%;
	background-color: #35425d;
	padding: 10px;
	color: #cccccc;
    margin: auto;

}

 button{
	background-color: skyblue;
	padding: 5px;
	border-radius: 6px;
	color: blue;
}

.skill{
	background-color: #35425a;
	padding: 50px;
	margin-top: 20px;
}

.skill  p{
	color: skyblue;
}

.skill  li{
	color: skyblue;
}

.skill  center{
	color: skyblue;
}

.skill h1{
	color: skyblue;
}

#bar1{
	width: 1%;
	height: 30px;
	background-color: #04AA6D;
	line-height: 30px;
	color: white;
	margin: 10px;
}

#bar1{
	width: 3%;
	height: 30px;
	background-color: #04AA6D;
	line-height: 30px;
	color: white;
	margin: 10px;
	text-align: center;
}

#bar2{
	width: 3%;
	height: 30px;
	background-color: #04AA6D;
	line-height: 30px;
	color: white;
	margin: 10px;
	text-align: center;
}

#bar3{
	width: 3%;
	height: 30px;
	background-color: #04AA6D;
	line-height: 30px;
	color: white;
	margin: 10px;
	text-align: center;
}

#bar4{
	width: 3%;
	height: 30px;
	background-color: #04AA6D;
	line-height: 30px;
	color: white;
	margin: 10px;
	text-align: center;
}

#bar5{
	width: 3%;
	height: 30px;
	background-color: #04AA6D;
	line-height: 30px;
	color: white;
	margin: 10px;
	text-align: center;
}

#bar6{
	width: 3%;
	height: 30px;
	background-color: #04AA6D;
	line-height: 30px;
	color: white;
	margin: 10px;
	text-align: center;
}

#bar7{
	width: 3%;
	height: 30px;
	background-color: #04AA6D;
	line-height: 30px;
	color: white;
	margin: 10px;
	text-align: center;
}


#projects .container{
	margin-top: 10px;
	 background-color: #e6e6e6;
	 width: 100%;
	 color: #35425d;
	}

	.location img{
		height: 90px;
		width: 50px;
		display: inline;
	}

 .icon{
	padding: 10px;
	float: left;
	width: 30%;
	height: 50%;
	text-align: center;
}

#projects .icon img{
width: 90px;
height: 150px;
}

#html{
	width: 100%;
	height: 500px;
	background-color: #e6e6e6;
}

#css{
	width: 100%;
	height: 500px;
	background-color: #e6e6e6;
}

#java{
	width: 100%;
	height: 500px;
	background-color: #e6e6e6;
}

#javascript{
	width: 100%;
	height: 500px;
	background-color: #e6e6e6;
}

#php{
	width: 100%;
	height: 500px;
	background-color: #e6e6e6;
}

#python{
	width: 100%;
	height: 500px;
	background-color: #e6e6e6;
}

#service{
	background-color: #e6e6e6;
}

#service p{
	background-color: #35425a;
	color: #cccccc;
	padding: 10px;
}

.provide i{
	color: #e8491d;
}
footer {
	background-color: #ee6910f1;
	text-align: center;
	color: #cccccc;
}
footer img{
	width: 50px;
}